<p id="notice"><%= notice %></p>

<p>
  <b>掃除する人:</b>
  <%= User.where(:user_id => @history.user_id).first.name %>
</p>

<p>
  <b>掃除する場所:</b>
  <%= Item.where(:item_id => @history.item_id).first.name %>
</p>


<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
